<table class="table table-strip">
    <thead>
      <th>Nombre</th>
      <th>Pago</th>
      <th>$</th>
      <th>Opciones</th>
      <th>Creado</th>
      <th>Proximo pago</th>
      <th>Dias que restan</th>
    </thead>
    <tbody>
      <% @payments.each do |payment| %>
        <tr>
            <%if payment.subscription_type.present?%>
           
                <%dif =((payment.created_at.to_date + 1.month) - Date.today).to_i %>
                <td class="name_client"><%= payment.client.name%></td>
                
                <td><%=payment.subscription_type.name %></td>
                           
                <td>$<%=payment.subscription_type.total %></td>
                
                <td>
                    <div class="d-flex">
                        <%= link_to "Ver", payment, class: "btn btn-outline-success mr-3-custom" %>
                        <%= button_to "Eliminar", payment, class: "btn btn-outline-danger ",method: :delete %>
                    </div>
                </td>
                <td><%=payment.created_at.strftime("%m/%d/%Y")%></td>

                <% if payment.subscription_type.name == "dia" %>
                  <td><%=(payment.created_at + 1.day).strftime("%m/%d/%Y")%></td>
                  <%dif =((payment.created_at.to_date + 1.day) - Date.today).to_i %>
                
                <% elsif payment.subscription_type.name == "semana" %>
                  <td><%=(payment.created_at + 1.week).strftime("%m/%d/%Y")%></td>
                  <%dif =((payment.created_at.to_date + 1.week) - Date.today).to_i %>

                <%else%>
                  <td><%=(payment.created_at + 1.month).strftime("%m/%d/%Y")%></td>
                <%end%>

                <%if dif <= 5 && dif >= 0 %>
                  <td>
                    <div class="difference_numbers">
                      <%=dif%>
                    </div>
                  </td>

                <%elsif dif <= 0 %>
                  <td>
                      <p class="difference_numbers">¡VENCIDO!</p>          
                  </td>
               
                <%else%>
                  <td>
                    <div>
                      <%=dif%>
                    </div>
                  </td> 
                <%end%>
            <%end%>
        </tr>
      <%end%> 
    </tbody>
</table>