
<div class = "container_card">
    <div class="card text-white bg-primary mb-3 " style="width: 30rem;">
    <div class="card-header">
        <h1 class="text-center text-uppercase"><%=@payment.client.name %></h1>
    </div>
        <%if @payment.subscription_type.present?%>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item border-primary mb-0 text-center">SUBSCRIPCION: <%=@payment.subscription_type.name %></li>
                <li class="list-group-item border-primary mb-0 text-center">PAGO: $<%=@payment.subscription_type.total %></li>
                <li class="list-group-item border-primary mb-0 text-center">FECHA DE INSCRIPCION: <%=@payment.created_at.strftime("%m/%d/%Y") %></li>
            </ul>
        <%else%>
        <div class="image_card">
            <%= image_tag url_for(@payment.product.image) %>
        </div>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item border-primary mb-0 text-center">COMPRO: <%=@payment.product.name.upcase%></li>
                <li class="list-group-item border-primary mb-0 text-center">MARCA: <%=@payment.product.trademark%></li>
                <li class="list-group-item border-primary mb-0 text-center">TIPO: <%=@payment.product.type_product%></</li>
                <li class="list-group-item border-primary mb-0 text-center">$<%=@payment.product.price%></</li>
                <li class="list-group-item border-primary mb-0 text-center">FECHA DE INSCRIPCION: <%=@payment.created_at.strftime("%m/%d/%Y") %></li>     
            </ul>

        <%end%>
    </div>
</div>  