<h1><%= name %> Suplemento</h1>
<%= form_for(@product) do |f| %>
    <% @product.errors.full_messages.each do |message| %>
        <div class= "be-red white top-space">
            * <%= message %>
        </div>
    <%end%>
    
    <div class="field">
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div class="field">
        <%= f.text_field :name, placeholder: "Nombre", class:"form-control" %>
    </div>
    <div class="field">
        <%= f.text_field :type_product, placeholder: "Tipo de Suplemento", class:"form-control" %>
    </div>
    <div class="field">
        <%= f.text_field :trademark, placeholder: "Marca", class:"form-control" %>
    </div>
    <div class="field">
        <%= f.number_field :price, placeholder: "Precio", class:"form-control" %>
    </div>
    <div class="field">
        <%= f.text_field :description, placeholder: "Descripcion del suplemento", class:"form-control" %>
    </div>
    <div class="field">
        <%= f.submit "Guardar", class:"btn btn-outline-success"%>
    </div>
<%end%>