    <div class="d-grid gap-2 col-6 mx-auto">
    <%=link_to "CREAR NUEVO SUPLEMENTO", new_product_path, class:"btn btn-primary" %>
    </div>



        <div class="row m-3">
            <% @products.each do |product| %>
                <div class="col-sm-3 mt-5">
                    <div class="card" style="width: 18rem;">
                        <div>
                            <%if product.image.present?%>
                                <%= image_tag url_for(product.image), class:"card-img-top" %>
                            <%end%>
                            <div class="card-body">
                                <h5 class="card-title"><%= product.name %></h5>
                                <p class="card-text">Un texto de ejemplo rápido para colocal cerca del título de la tarjeta y componer la mayor parte del contenido de la tarjeta.</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><%= product.trademark %></li>
                                <li class="list-group-item"><%= product.type_product %><//li>
                                <li class="list-group-item">$<%= product.price %><//li>
                            </ul>
                            <div class="card-body">
                                <a href="#" class="card-link"><%= button_to "Eliminar", product, class: "btn btn-outline-danger",method: :delete %></a>
                                <a href="#" class="card-link"><%=button_to "Ver mas", product, class: "btn btn-outline-danger",method: :get  %></a>
                            </div>                              
                        </div>
                    </div>
                </div>
            <%end%>
        </div>





