<h1 class= "text-center"><%= name %> Pago</h1>
<%= form_for(@subscription_type) do |f| %>
    <% @subscription_type.errors.full_messages.each do |message| %>
        <div class= "color-gym white top-space">
            * <%= message %>
        </div>
    <%end%>
    <div class="field">
        <%= f.text_field :name, placeholder: "Suscripción", class:"form-control" %>
    </div>
    <div class="field">
        <%= f.text_field :total, placeholder: "Cantidad", class:"form-control" %>
    </div>
   
    <div class="field">
        <%= f.submit "Guardar", class:"btn btn-primary"%>
    </div>
<% end %>